#root {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow-y: auto;
}

.root_full_page {
  flex-direction: column;
  /*min-height: 560px;*/
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.root_header {
  flex: 0 0 66px;
  align-items: center;
  column-gap: 12px;
  width: 100%;
  min-width: 320px;
  display: flex;
}

.root_main {
  flex-direction: column;
  flex: auto;
  display: flex;
  height: 100%;
}

.bg_column {
  background-color: #f1f1f1;
}




